* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-content: space-around;
  background-color: #797B84;
  color: #ffffff;
  display: grid;
  justify-content: center;
}

canvas {
  height: 360px;
  width: 640px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  color: #3D314A;
}
